*.acn
*.acr
*.alg
*.aux
*.auxlock
*.bak
*.bbl
*.blg
*.dvi
*.fls
*.glg
*.glo
*.gls
*.idx
*.ist
*.ilg
*.ind
*.log
*.out
*.ps
*.sav
*.swp
*.toc
*.synctex.gz

*.run.xml
*-blx.bib

*_latexmk

*~

*.pgf-plot.*

Figures/External/
auto
Sources/auto
Sources/_region_.tex
thesis.bcf
.DS_Store
.chktexrc
